.nav {
  padding: 0 5px;
  background-color: var(--main-color-dark);
  border-bottom: 1px solid var(--accessory-color-dark);
}

.nav-row {
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
}

.logo-link {
  margin-right: auto;
}

.home-logo {
  width: 70px;
}

.nav-list {
  display: flex;
  column-gap: 20px;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.nav-list__item {
  font-size: 1em;
  color: var(--text-color-light);
}

.nav-list__link--active {
  position: relative;
}

.nav-list__link--active::before {
  position: absolute;
  content: "";
  height: 2px;
  width: 100%;
  top: 100%;
  left: 0;
  background-color: var(--accent_color);
}
